.todoList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 280px;
    overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
    -webkit-appearance: none;
}

.todoList::-webkit-scrollbar:vertical {
    width: 10px;
}

.todoList::-webkit-scrollbar-button:increment,
.todoList::-webkit-scrollbar-button {
    display: none;
}

.todoList::-webkit-scrollbar:horizontal {
    height: 10px;
}

.todoList::-webkit-scrollbar-thumb {
    background-color: #1c1c53b0;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.todoList::-webkit-scrollbar-track {
    border-radius: 10px;
}